* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid green;
}

.boards-container {
  display: flex;
  align-items: center;
  flex-direction: row;

  .board {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }
}
